{
  "extends": "airbnb-base",
  "env": {
    "node": true
  },
  "globals": {
    "artifacts": true,
    "contract": true,
    "web3": false
  },
  "rules": {
    "max-len": ["error", { "code": 160 }],
    "import/no-extraneous-dependencies": "off"
  }
}
